<div class="jumbotron" style="position: relative;">
    <div class="text-center">
        <h1 class="display-4" style="font-weight: lighter;">Devdutt Dhavalkumar Thakkar</h1>
        <h3>Software Engineer</h3>
    </div>

    <div style="position: absolute; bottom: 5px; right: 10px;">
        <a href="https://www.linkedin.com/in/devdutt-thakkar/" target = "_blank" >
            <img src="../../assets/Unknown.JPG" width="24" height="24" class = "rounded-circle me-4">
        </a>

        <a href="https://github.com/Devdutt-Thakkar" target = "_blank" >
            <img src="../../assets/Unknown-2.JPG" width="24" height="24" class = "rounded-circle me-4">
        </a>
        
        <a href="https://www.instagram.com/su_vaat_kare_che?igsh=czlhb2R5dTdnZWk=" target = "_blank" >
            <img src="../../assets/Unknown-3.JPG" width="24" height="24" class = "rounded-circle me-4">
        </a>
    </div>
</div>